@use "../variable" as v

.text-bold
  font-weight: bold

.text-weak
  color: v.$text-color-weak

.text-warning
  color: v.$badge-color

.text-primary
  color: v.$button-color-primary

.text-accent
  color: #0ebeff